<!DOCTYPE html>
<html>
<head>
    <title>Einladung!</title>
    <meta charset="UTF-8">
    <style type="text/css">
        body {
            font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            background-color: rgba(251, 251, 255);
            font-size: 16px;
            line-height: 1.4;
            padding: 20px;
            margin: 0 auto;
            max-width: 600px;
        }

        h1 {
            font-size: 3.75rem;
            line-height: 1;
            color: rgba(27, 27, 31, 1);
        }

        p {
            margin-bottom: 20px;
            color: rgba(69, 70, 79, 1);
        }

    </style>
</head>
<body>
<h1>Einladung!</h1>
<p>Hallo {{name}},</p>
<p>{{organizer}} hat Details am Event {{event}} geändert!</p>
<p>Hier sind die neuen Informationen:</p>
<div style="padding: 15px">
    <table class="demo">
        <tbody>
        <tr>
            <td>Eventname</td>
            <td>{{event}}</td>
        </tr>
        <tr>
            <td>Ort</td>
            <td>{{location}}</td>
        </tr>
        <tr>
            <td>Datum und Uhrzeit</td>
            <td>{{datetime}}</td>
        </tr>
        </tbody>
    </table>
</div>
<p>Wenn du weitere Fragen hast oder Unterstützung benötigst, besuche unsere Website unter <a
        href="{{homepage}}">{{homepage}}</a>.</p>
<p>Beste Grüße,</p>
<p>Dein Partytime-Team</p>
</body>
</html>
